<!DOCTYPE html>
<html lang="en">
<head>
    <title>Poets Haven</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container h-100">
    <div class="row h-70 justify-content-center align-items-center">
        <form class="col-sm-7" action="{% url 'search:search' %}">
            {% csrf_token %}
            <div class="form-group">
                <label class="display-4">Query:</label>
                <input class="form-control"  value="{{ org_query }}" name="query">
            </div>
            <button class="btn btn-primary">Search</button>
        </form>
    </div>
    <div id="search_results" style="margin-top: 50px">
        {% if results %}
            <div>
                {% for result in results %}
                    <a href="{% url 'search:display' result %}">{{ result }}</a>
                    <br>
                {% endfor %}
            </div>
        {% else %}
            <h2>NO RESULTS FOUND</h2>
        {% endif %}
    </div>
</div>
</body>
</html>
